.titulo-principal {
  padding-left: 30px;
}

#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

em strong {
  color: red;
}

#mision {
  font-size: 20px;
}

.diferenciales {
  background: #ffffff;
  padding: 30px;
}

.items {
  font-style: italic;
}

ul {
  display: inline-block;
  margin-right: 15%;
  vertical-align: top;
  width: 20%;
}

.imagenDiferenciales {
  width: 50%;
}
